<div class="welcome-section">
  <div class="content">
    <div class="upper-title gap-4 flex-wrap mt-5">
      <img src="../../../../assets/pics/Trash Hauling.svg" />
      <div class="d-flex flex-column">
        <span class="span1">Round Rock </span>
        <span class="span2">Trush Hauling</span>
      </div>
    </div>
    <div class="upper-title">
      <button type="button" class="btn exp-btn">Experts</button>
    </div>
    <div class="mt-2 flex-wrap">
      <div class="upper-title d-flex flex-column">
        <h2>Lorem</h2>
        <h1>Lorem lorem</h1>
      </div>

      <!-- <h3>Lorem lorem</h3> -->
    </div>
    <div class="upper-title">
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever
        since the
      </p>
    </div>
    <div class="upper-title">
      <button type="button" class="btn help-Btn">Help Me</button>
    </div>
  </div>
</div>
