<div class="about-us">
  <div class="solid-bg">
    <div class="container">
      <div class="pt-5 content">
        <h2>About Us</h2>
        <p class="pt-3">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an
        </p>

        <img class="pt-2" src="/assets/pics/miniRubbish.png" />
      </div>
      <div class="curved-section">
        <h2>Where</h2>
        <p class="pt-3">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book. It has survived not only
          five centuries, but also the leap into electronic typesetting,
          remaining essentially unchanged. It was popularised in the 1960s with
          the release of Letraset sheets containing Lorem Ipsum passages, and
          more recently with desktop publishing software like Aldus PageMaker
          including versions of Lorem Ipsum.
        </p>
      </div>
    </div>
    <div class="helpBtn-holder">
      <button type="button" class="btn helpMe-btn">Help Me</button>
    </div>
  </div>
</div>
