<div class="container">
  <div class="row">
    <div class="col-12 d-flex justify-content-center">
      <img src="/assets/pics/Group 534.png" />
    </div>

    <div class="col-12">
      <div class="pt-5 d-flex">
        <div class="card">
          <img
            class="card-img-top"
            src="/assets/pics/service1.png"
            alt="Card image cap"
          />
          <div class="card-body">
            <h4 class="card-title">Lorem Ipsum</h4>
            <p class="card-text">
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever since the 1500s, when an unknown printer took a galley of
              type and scrambled
            </p>
          </div>
        </div>
        <div class="card">
          <img
            class="card-img-top"
            src="/assets/pics/service2.png"
            alt="Card image cap"
          />
          <div class="card-body">
            <h4 class="card-title">Lorem Ipsum</h4>
            <p class="card-text">
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever since the 1500s, when an unknown printer took a galley of
              type and scrambled
            </p>
          </div>
        </div>
        <div class="card">
          <img
            class="card-img-top"
            src="/assets/pics/service3.png"
            alt="Card image cap"
          />
          <div class="card-body">
            <h4 class="card-title">Lorem Ipsum</h4>
            <p class="card-text">
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever since the 1500s, when an unknown printer took a galley of
              type and scrambled
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 pt-5 d-flex justify-content-center">
      <button type="button" class="btn submit-btn">Help Me</button>
    </div>
  </div>
</div>
